@using TaskManager.Models.ViewModels.Account
@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />

@if (ViewData.ModelState.ContainsKey("isLoginFailed"))
{
	foreach (var err in @ViewData.ModelState["isLoginFailed"]!.Errors)
	{
		<h3>@err.ErrorMessage</h3>
	}
}

<form asp-controller="Account" asp-action="Login">
	<div class="form-group">
		<label asp-for="Login"/>
		<input type="text" asp-for="Login"/>
	</div>
	<div class="form-group">
		<label asp-for="Password"/>
		<input type="password" asp-for="Password" />
	</div>
	<div class="form-group">
		<input type="submit" value="Login" />
	</div>
</form>

<div>
	<p>Don't have an account? <a asp-controller="Account" asp-action="Register">Register</a></p>
</div>